<div class="footer" data-th-fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="pull-right">
        10GB of <strong>250GB</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2017
    </div>
</div>