<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title data-layout-title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">EveMan</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.css}">

    <!-- Toastr style -->
    <link rel="stylesheet" th:href="@{/css/plugins/toastr/toastr.min.css}">

    <!-- Gritter -->
    <link rel="stylesheet" th:href="@{/js/plugins/gritter/jquery.gritter.css}">

    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div id="wrapper">
    <div data-th-replace="fragments/fragment-navbar-default :: navbar-default"></div>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div data-th-replace="fragments/fragment-nav-top :: navbar-top"></div>

        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content">
                    <div data-layout-fragment="content"></div>
                </div>
                <div data-th-replace="fragments/fragment-footer :: footer"></div>
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- jQuery UI -->
<script th:src="@{/js/plugins/jquery-ui/jquery-ui.min.js}"></script>

<!-- GITTER -->
<script th:src="@{../static/js/plugins/gritter/jquery.gritter.min.js}"></script>

<!-- Toastr -->
<script th:src="@{../static/js/plugins/toastr/toastr.min.js}"></script>

<script>
</script>
</body>
</html>